* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e2f;
    color: #eaeaf0;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

#game {
    background-color: rgba(184, 248, 200, 0.8);
    min-width: 40vw;
    max-width: 60vw;
    padding: 6px;
    border-radius: 12px;
    position: relative;
    margin: 100px auto 0;
    overflow: hidden;
    outline: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

#words {
    position: relative;
    filter: blur(5px);
}

#game:focus #words {
    filter: blur(0);
}

.word {
    display: inline-block;
    font-family: 'Courier New', monospace;
    margin: 0 5px;
}

.char.correct {
    color: #06075c;
}

.char.incorrect {
    color: #dc2626;
}

#cursor {
    display: none;
    width: 2px;
    height: 1rem;
    background: #111827;
    position: absolute;
    animation: blink 0.3s infinite;
    transition: top 0.05s linear, left 0.05s linear;
}

#game:focus #cursor {
    display: block;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;

}

#game:focus #focus-error {
    display: none;
}

#stats_Container {
    width: fit-content;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    text-align: center;
    align-self: center;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(79, 69, 87);
    padding: 10px;
    border-radius: 10px;
    color: #f5f3ff;
}

#start_btn {
    margin: 12px;
    padding: 8px;
    height: 36px;
    width: 64px;
    border: 0;
    font-size: 14px;
    border-radius: 5px;

}

#start_btn:hover{
    cursor: pointer;
}

#game {
    line-height: 30px;
    height: 105px;
    overflow: hidden;
    text-align: left;
}

#game:focus {
    outline: 0;
}

#game.over #words {
    opacity: 0.5;
    filter: blur(0px);
}

#game.over:focus #cursor {
    display: none;
}

#game.over #focus-error {
    display: none;
}
